@model WebApplication.Models.RFIDTag

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RFIDTag</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RFIDUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFIDUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TagName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TagName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TagType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TagType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
